<div class="row">
  <nav class="col s12 indigo darken-4">
    <div class="nav-wrapper">
      <div class="brand-logo">Lunch Tool</div>
      <ul class="right">
        <li class="active clt-deadline">Vote until 11:00</li>
        <!--<li><a><i class="material-icons">chat_bubble_outline</i><span class="new badge">1</span></a></li>-->
        <li><a>Notifications<span class="new badge">1</span></a></li>
      </ul>
    </div>
  </nav>
  <div class="col s4">
    <proposition-form></proposition-form>
  </div>
  <div class="col s8">
    <propositions></propositions>
  </div>
  <footer class="col s12 page-footer indigo darken-1">
    <div class="footer-copyright clt-footer">
      <div>
        © What's for lunch?
        <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      </div>
    </div>
  </footer>
</div>